# Core Framework
fastapi
uvicorn

# LangChain Stack
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-classic

# Config
pydantic
pydantic-settings
python-dotenv
email-validator

# Authentication
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]

# Utilities
httpx


# Database
supabase



# OpenAI
openai

